* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  color: #333;
  font-family: "Poppins", sans-serif;
  background-color: #e9e4e1;
  overflow-x: hidden;
}
.main-header {
  position: sticky;
  top: 0;
  z-index: 3;
  opacity: 0.2;
}

.main-header:hover {
  opacity: 0.8;
}

.container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 100%;
}

.main-nav {
  width: 90.1%;
  height: 64px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin: auto;
}

.main-nav h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  text-transform: uppercase;
  font-size: 32px;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: bold;
}

.main-nav a:hover,
.main-nav i:hover {
  color: rgb(147, 147, 147);
}

.main-nav h1 a {
  text-decoration: none;
  color: #333;
}

.main-nav .contact-page-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 300px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: bolder;
}

.main-nav .admin-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 505px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: bolder;
}

.main-nav .home {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 420px;
  /* margin-right: 200px; */
  text-decoration: none;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: bolder;
}

.main-nav .about {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 210px;
  /* margin-right: 120px; */
  text-decoration: none;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: bolder;
}

.main-nav .shop {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 130px;
  /* margin-right: 60px; */
  text-decoration: none;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: bolder;
}

.main-nav .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.main-nav .fa-shopping-cart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.hide-search {
  opacity: 0.3;
  margin-top: -64px;
}

.search {
  height: 64px;
  width: 90%;
  transform: translateX(-50%);
  left: 50%;
  background-color: #fdfdfd;
  position: relative;
  z-index: 0;
  transition: 0.4s;
}

.hide-cart {
  margin-top: -64px;
  display: none;
}

.shopping-cart {
  /* height: 64px; */
  top: 55px;
  width: 17%;
  transform: translateX(-50%);
  left: 89%;
  background-color: rgb(86, 86, 86, 1);
  position: absolute;
  z-index: 3;
  transition: 0.4s;
  border-radius: 9px;
  /* border-block: 2px solid #333;  */
}

.shop-container {
  min-width: 98%;
  margin-left: 2.5vw;
  flex-grow: 3;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.shop-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.shop-container ul {
  list-style: none;
  padding: 0;
  width: 70%;
}

.shop-container li {
  overflow: auto;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

.amount {
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 5px;
  width: 16px;
  height: 12px;
  margin-top: 4.5px;
  color: #fff;
  background: rgb(86, 86, 86);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.amount:hover,
.amount:focus {
  background: #ff008b;
  color: #fff;
}

.remove {
  cursor: pointer;
}

.remove:hover {
  color: red;
}

.shop-container li.total {
  padding-top: 10px;
  margin-top: 6px;
}

.cart-button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.4s;
  width: 89px;
  margin-bottom: 6px;
  cursor: pointer;
}

.cart-button a {
  text-decoration: none;
  color: #fff;
}

.search input {
  width: calc(100% - 180px);
  padding: 10px 15px;
  margin-right: 15px;
  font-size: 1.3rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #333;
  color: #333;
}
.search button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
  transition: 0.4s;
  cursor: pointer;
}

.search input::placeholder {
  color: #b4b4b4;
}

.search button:hover {
  background-color: #333;
  color: #fff;
}

.hero {
  background: url("../assets/img/landing-hero-0.1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 109vh;
  position: relative;
  top: -160px;
}

.text {
  margin: auto;
  color: #fff;
  position: relative;
  top: 70%;
  left: 60%;
  transform: translateX(-50%);
}

.text p {
  letter-spacing: 3px;
  font-weight: bolder;
}

.text h2 {
  font-size: 42px;
  font-weight: bolder;
  letter-spacing: 3px;
}

.text button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 102px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.text button:hover,
.cart-button:hover {
  background-color: #fff;
  color: #333;
}

.checkout {
  width: 80%;
}

footer {
  width: 90.1%;
  background-color: #585856;
  margin: auto;
  color: rgb(230, 230, 230);
  margin-top: 1px;
}
.footer-con {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.footer-con p {
  font-size: 15px;
}
.footer-con:hover {
  background-color: #585856;
}
.lowerfot {
  background-color: #585856;
  margin: auto;
  justify-content: space-between;
  border-top: 1px solid black;
}
.lowerfot:hover {
  background-color: #b4b4b4;
}
.lowerfot i {
  justify-content: space-between;
}
